.container1 {
  background-color:cadetblue;
  height: 150px;
  display: flex;

  align-items: baseline;
}
.container2 {
  align-items: flex-start;
}
.container3 {
  justify-content: center;
  align-items: center;
}

.item {
  background-color:tan;
  border: 1px solid black;
  margin-right: 5px;
}
.small {
  font-size: 10px;
}
.middle {
  font-size: 30px;
}
.big {
  font-size: 50px;
}