<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .done{
      text-decoration: line-through;
      color: gray;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>Todo List</h1>
    <p>
      <input type="text" v-model="content">
      <button @click="addTodo">+</button>
    </p>

    <ul>
      <li v-for="todo in todoList" :key="todo.date">
        <input type="checkbox" @click="toggleTodo(todo)">
        <span :class="{done:todo.isCompleted}">{{ todo.content }}</span>
      </li>
    </ul>
    <button @click="deleteDone">완료 목록 삭제</button>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        todoList: [],
        content: '',
      },
      methods: {
        addTodo(){
          const todo = {
            content: this.content,
            isCompleted: false,
            date : new Date().getTime(),
          }
          this.todoList.push(todo)
          this.content = ''
        },
        deleteDone(){
          this.todoList = this.todoList.filter((el)=>{
            return !el.isCompleted
          })
        },
        toggleTodo(todo){
          todo.isCompleted = !todo.isCompleted
        },
      },
    })

  </script>
</body>
</html>